# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# Editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
.vercel
